*.DS_Store
.dart_tool/
.idea
*.iml
.packages
.pub/

build/
.fvm/
example/.fvm
test_resources/ios/Flutter/flutter_export_environment.sh
test_resources/android/local.properties
test_resources/ios/Flutter/Generated.xcconfig
.fvm/